{%load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel = "stylesheet" type= 'text/CSS' href = "{% static 'Home.css'%}">
</head>

<body>
    <form id = "login" action = "Index">
        {% csrf_token %}
        <h2><center>Welcome to Windows Servers Monitoring</center></h2><br><br>
        Click to login, find the server health check... <button type="submit">Login</button>
    </form>
</body>

</html>