{%load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Server Monitoring</title>
    <link rel = "stylesheet" type= 'text/CSS' href = "{% static 'Index.css'%}">
</head>

<body>
    <form id = "form-1" method='post' action = "Result">
        {%csrf_token%}
    <h2 id = "title"><center>Windows Servers Monitoring</center></h2>
    <div id="server_search">
    	<label for="input">Server Name: </label><br>
	    <input id = "input" type = 'text' name = 'server' placeholder="Enter Server Name"><br><br>
        <label for="input">User name: </label><br>
	    <input id = "input" type = 'text' name = 'username' placeholder="User Name"><br><br>
        <label for="input">Password: </label><br>
	    <input id = "input" type = 'password' name = 'password' placeholder="Password"><br><br>
    	<button id = "button-1" type = 'submit'>Server Health</button>
    </div>
</form>
</body>
</html>